/* Default styles provided by the normalize.css file */
@import url('normalize.css');

body {
  font-family: "Inter", Arial, sans-serif;
  margin: 2em;
  background: #f9f9f9;
  color: #222;

  .markdown-body {
    font-family: "Inter", Arial, sans-serif;

    h1 {
        /* background: url('/assets/img/patterns/polygon-bg-header.svg'), linear-gradient(303deg, rgb(229, 241, 254) 0.52%, #f7fdff 99.55%); */
		background-size: cover;
        padding: 20px 0px;
    }

    /* Note: REMOVE WHEN NO LONGER USING DEFAULT MARKDOWN THEME */
    /* Removes the top header added by default */
    h1:first-of-type {
        display: none;
    }
  }
}

header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
}
